<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gmail.htaihm.myplaygroundinjava">

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
    <activity android:name=".expandabletextwithmore.ExpandableTextWithMoreActivity"></activity>
    <activity android:name=".expandlistwithanimation.ExpandListWithAnimationActivity" />
    <activity android:name=".widgetsdemo.WidgetsDemoActivity" />
    <activity android:name=".focusjumpwithdpad.FocusJumpWithDpadActivity" />
    <activity android:name=".complexbackgroundimage.ComplexBackgroundImageActivity" />
    <activity android:name=".drawoverlay.DrawOverlayActivity" />
    <activity android:name=".cancelableasyncloader.CancelableAsyncLoaderActivity" />
    <activity android:name=".progressbarwithindicator.ProgressBarWithIndicator" />
    <activity android:name=".fillscrollview.FillScrollViewActivity" />
    <activity android:name=".MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name=".colorchanger.ColorChangerActivity" />
    <activity android:name=".viewpositioning.LinearLayoutViewPositioningActivity" />
    <activity android:name=".observescrolling.ObserveScrollingActivity" />
    <activity android:name=".lighboxchooser.LightboxChooserActivity" />

    <service
        android:name=".drawoverlay.MyPlaygroundDrawOverlayService"
        android:enabled="true"
        android:exported="true">
      <intent-filter>
        <action android:name="com.gmail.htaihm.myplaygroundinjava.MyPlaygroundDrawOverlayService.BIND" />
      </intent-filter>
    </service>
  </application>

  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

</manifest>